<tbody>
<tr class="task" id="task_<%=task.id%>">
  <%= form_for(task, remote: true) do |f| %>
    <td class="donecol">
      <%= f.check_box :done %>
    </td>
    <td class="maincol">
      <div class="content"><%= task.content%></div>
      <div class="edit-form" hidden>
        <div class=" input-append">
          <%= f.text_field :content %>
          <%= button_tag(type: "submit", class: "btn btn-primary") do%>
            <i class="icon-ok-circle"></i>
          <% end %>
        </div>
        <div class="deadline">
          <%= f.datetime_select :deadline %>
        </div>
      </div>
    </td>
    <td class="barcol">
    <%= render partial: 'shared/udbar', locals: {target: task} %>
    <div class="pull-right">
    <%= link_to task, action: "up" do 
       content_tag :i, nil, class: "icon-arrow-up"
      end %>
      <i class="icon-arrow-down"></i>
    </div>
    </td>
  <% end %>
 </tr>
 </tbody>