<tbody  id="task_<%=task.id%>">
<tr class="task">
    <td class="donecol">
      <%= check_box_tag "done", task.id, task.done, :class => "task-done", id: "done_#{task.id}"  %>
    </td>
    <td class="maincol">
      <%= form_for(task, remote: true) do |f| %>
      <div class="content"><%= task.content%></div>
      <div class="edit-form" hidden>
        <div class="input-append">
          <%= f.text_field :content, maxlength: 85, id: "input_content_#{task.id}" %>
          <%= button_tag(type: "submit", class: "btn btn-primary", id: "submit_edit_task_#{task.id}") do%>
            <i class="icon-ok-circle"></i>
          <% end %>
        </div>
        <div class="deadline">
          <%= f.datetime_select :deadline %>
        </div>
      </div>
      <% end %>
    </td>
  <td class="barcol">
  <%= render partial: 'shared/udbar', locals: {target: task} %>
  <div class="pull-right hidebar">
    <div class="angle">
      <%= link_to task_up_path(task), remote: true do
        fa_icon "angle-up"
      end %>
    </div>
    <div class="angle">
      <%= link_to task_down_path(task), remote: true do
        fa_icon "angle-down"
      end %>
    </div>
  </div>
  </td>
 </tr>
 </tbody>