<% if signed_in? %>
<div class ="row">
  <div class="span12">
    <section>
    <div class="signout_link">
    <%= link_to "Sign out", signout_path, method: "delete"%>
    </div>
      <h1 class="center">
        Hello, <%= @user.name %>
      </h1>
    </section>
      <ul class="projects">
        <%= render @projects if @user.projects.any? %>
      </ul>
      <div class="center projectform">
      <%= render 'projects/project_form' %>
      </div>
  </div>
</div>
<% else %>
<div class="row">
  <div class="span6">
  <h1> Just do it! <h1>
  <h2>Well come</h2>
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>
      <br>
      <%= f.submit "Sign in", class: "btn btn-large btn-primary"%>
    <% end %>

    <p>don't have account? <%= link_to "Sign up!", registration_path %></p>
  </div>
</div>
<% end %>