<li class="project" id="project_<%=project.id%>" >
  <div class="project-title btn-primary">
    <%= fa_icon "calendar-o" %>
    <span class="title"><%=project.title%></span>
    <span class="input-append">
    <div class="edit-form" <%= 'hidden' if !Rails.env.test? && (project.title!="" && project.title) %> >
    <%= form_for(project, remote: true) do |f| %>
      <%= f.text_field :title, maxlength: 70, id: "input_title_#{project.id}" %>
      <%= button_tag(type: "submit", class: "btn btn-primary", id: "submit_edit_project_#{project.id}"  ) do%>
        <i class="icon-ok-circle"></i>
      <% end %>
    <% end %>
    </div>
    </span>
    <%= render partial: 'shared/udbar', locals: {target: project} %>
  </div>
  <div class="input-append taskform center">
    <%= render partial: 'tasks/task_form', locals: {pid: project} %>
  </div>
  <table class="tasks table table-bordered table-hover">
    <%= render @tasks[project.id] if project.tasks.any? %>
  </table>
</li>